@import "frappe/public/css/fonts/fontawesome/font-awesome.min.css";
@import "frappe/public/css/octicons/octicons.css";
@import "frappe/public/css/fonts/inter/inter.scss";
@import "~frappe-charts/dist/frappe-charts.min";
@import "~plyr/dist/plyr";
@import "./desk/index";

@import "frappe/public/js/lib/leaflet/leaflet.css";
@import "frappe/public/js/lib/leaflet_easy_button/easy-button.css";
@import "frappe/public/js/lib/leaflet_control_locate/L.Control.Locate.css";
@import "frappe/public/js/lib/leaflet_draw/leaflet.draw.css";


.container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 100% !important;
    }
 
.sidebar-item-label {
  padding: 10px 0 10px 0 !important;  
}
.app-logo {
  padding-left:30px;
  content: url("https://ccc-stg.cts-solutions-it.com/cts-nordics-logo.svg");  
}
.standard-sidebar-item{
  border-radius: 0 !important;
  color:#fff !important;
  background-color:rgb(215 227 247/var(--tw-bg-opacity,1)) !important;
  margin:0px !important;
}
.desk-sidebar-item .standard-sidebar-item .selected{
background-color: rgb(0 75 203/var(--tw-bg-opacity,1)) !important;  
}
.standard-sidebar-item.selected, .search-dialog .search-results .search-sidebar .standard-sidebar-item.selected {
    background-color: rgb(0 75 203/var(--tw-bg-opacity,1)) !important;  
    border-radius: 0 !important;
    color:#fff !important;
}
.selected .sidebar-item-label{
  color:#fff !important;
}
.standard-sidebar-item
,.selected .icon{
  fill: #fff !important;
  stroke: #fff !important;
}
 
.standard-sidebar-item .icon {
  margin-top:10px !important;
}
 
.standard-sidebar-label{
    display: none !important;
}
 
.page-head {
    display: block !important;
    position: relative !important;
    z-index: 20000 !important;
    margin-top: -65px !important;
    background: transparent !important;
    top: 10px !important;
    width: 50% !important;
}
 
.sidebar-toggle-btn .es-icon {
    fill: var(--icon-stroke) !important;
    --stroke: #fff !important;
}
 
.page-title .title-area{
   display:none !important;
}
.layout-main {
        height: calc(100vh - var(--navbar-height) - var(--page-head-height) - 5px + 60px) !important;
}
.navbar{
    background-color:#fff !important;
}
 
.layout-main-section{
  padding: 15px 10px 10px 10px !important;
}
